In [3]:
import pandas as pd

data = {
    'datetime_col1': pd.to_datetime(['2023-01-01 12:00:00+00:00', '2023-01-02 13:00:00+00:00']),
    'datetime_col2': pd.to_datetime(['2023-01-03 14:00:00+02:00', '2023-01-04 15:00:00+02:00'])
}
df = pd.DataFrame(data)

              datetime_col1             datetime_col2
0 2023-01-01 12:00:00+00:00 2023-01-03 14:00:00+02:00
1 2023-01-02 13:00:00+00:00 2023-01-04 15:00:00+02:00

In [11]:
# Remove timezones from all datetime columns
df_rm = df.copy()
print(df_rm.dtypes)
for col in df_rm.select_dtypes(include=['datetime']):
    #df_rm[col] = df_rm[col].dt.tz_localize(None)
    print(col)
df_rm

datetime_col1          datetime64[ns, UTC]
datetime_col2    datetime64[ns, UTC+02:00]
dtype: object

              datetime_col1             datetime_col2
0 2023-01-01 12:00:00+00:00 2023-01-03 14:00:00+02:00
1 2023-01-02 13:00:00+00:00 2023-01-04 15:00:00+02:00

In [12]:
pd.to_datetime(df_rm['datetime_col2'], utc=False)

0   2023-01-03 14:00:00+02:00
1   2023-01-04 15:00:00+02:00
Name: datetime_col2, dtype: datetime64[ns, UTC+02:00]